# requirements.txt

# Основные пакеты Python
fastapi==0.95.2
uvicorn==0.21.1
pandas==1.5.3
numpy==1.23.5
Cython>=0.29
scikit-learn==1.2.2
statsmodels==0.13.5
scipy==1.10.1

# Инструменты сборки
setuptools>=58
wheel

# Сам pmdarima
pmdarima==2.0.3

# Остальное
streamlit==1.25.0
plotly==5.17.0
request


